@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&family=Roboto+Mono:wght@100;300;400;500;700&family=Roboto:wght@100;300;500;900&display=swap');

*{
	margin: 0;
	padding: 0;
}

header{
	background-color: #EDEDDC;
	margin: 0;
	padding: 0;
	text-align: center;
}

.presentation{
	
	margin: 0;
	padding: 0;

}
h1,h2,h3{
	font-family: 'Roboto';

}

h1{
	font-size: 32px;
	font-weight: 900;

}

p{
	font-family: 'Lato'
}